.container > header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container > header > h1 {
  margin: 0;
}

.container > header > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container > main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 10px;
}
