.container {
  border-radius: 8px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  background: var(--color-slate-700);
  overflow: hidden;
}

.container > picture {
  position: relative;
  height: 240px;
  display: block;
}

.text {
  padding: 0.5rem;
}

.text > h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.text > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
